@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background: #020617;
  color: white;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #2563eb;
  color: white;
}